/* font */
@import url('https://fonts.googleapis.com/css?family=DM Serif Display');

/* MOBILE VIEW */

/* skip to main */
a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    /* -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out; */
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  
  *:focus{
    border: 2px solid black;
  }


  /* background color */
  body{
    background-color: #769cfc;
    color:#2e2e2e;
    /* background-image: url("../images/background1.jpeg"); */
    background-image: url("../images/background2.jpeg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    background-attachment: fixed;
  
 
    background-position: center center;
    /* min-height: 100vh; */



    font-family: 'DM Serif Display', 'Courier New', monospace;
  }

  .main_text_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position:relative;
    top: 200px;
  }
  .main_title{
    font-size: 60px;
    font-stretch: ultra-expanded;
  } 
  h1.main_title{
    grid-column: 2 / 8;
  }

  h2.main_title{
    grid-column: 4 / 12;
  }
  
  #main_title2{
    font-size: 17px;
    grid-column: 3 / 11;
  }

  .fade-in {
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


  /* NAV BAR */
  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu_icon{
  font-size: 40px;
  margin: 10px;
}



/* home page content */
.home_page_content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 80%;
  height:80%;
  background-color: whitesmoke;
  margin: 20px auto;
  border-radius: 7px;
  border: 2px solid black;
}

.reformer1_pic{
  grid-column: 1/7;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  width: 85%;
  height: 100%;
  margin: auto;
}

/* .section1{
  font-size: 20px;
  grid-column: 1/end;
  margin: 12px;
} */

.section1 {
  /* font-size: 20px; */
  grid-column: 1 / end;
  margin: 12px;
  width: 90%;
  text-align: center;
  margin: auto;
}

.home_title_text{
  font-size: 22px;
  grid-column: 5/end;

}

/* CLIENT TESTIMONIAL ARROWS */
.left-button{
  grid-column: 1;
  position: relative;
  right: -27px;
  top: 150px;
  font-size: 25px;
}

.right-button{
  font-size: 25px;
  top: -200px;
  position: relative;
  grid-column: 7;
  left: -27px;
}

/* CLIENT TESTIMONIAL CARDS */

.testimonial_grid{
  display:grid;
  grid-template-columns: 1fr;
  width: 80%;
 
  grid-column:1 / 8;
 margin: 0px auto;
}

.c_test_label{
  /* grid-column: 2/end;
  font-size:25px; */
  grid-column: 1 / end;
  text-decoration: underline;
  margin: 0px auto;
  font-size: 25px;
  margin-top: 10px;
}

.card1{
  display: grid; 
  grid-column: 2/6;
  /* background-color: #b4c9ff; */
  background-color: #cecece;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 300px;
  /* overflow: scroll; */
  margin-top: 15px;
  margin-bottom: 25px;
  border: 2px solid black;
}




.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.test_name1{
  text-align: center;
  height: 45px;
  font-size: 20px;
  margin-top: 10px;
}

.test_text1{
  padding: 2px 16px;
  background-color: #ffffff;
  height: 239px;
  overflow: scroll;
}


/* ABOUT US PAGE */

.about_page_content{
  display: grid;
  
  width: 80%;
  height: 80%;
  background-color: whitesmoke;
  margin: 20px auto;
  border-radius: 7px;
  border: 2px solid black;
}

.center_align_me{
  margin: 0px auto;
  margin-top: 5px;
}

.make_hidden{
  visibility: hidden;
}

.avail_services_h2{
  text-align: center;
  font-size: 22px;
}
  

.service{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px;
    font-size:15px;
  }

  .service_title{
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(205, 205, 205);
    text-align: center;
  }

  .center-this{
    text-align:center;
    margin: 15px auto;
  }
  
  
  .service:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  }
  
  
  .services_cont {
    padding: 2px 16px;
  }

  /* div .t1{
grid-column:1/2;
display:none;
  }

  div .t2{
grid-column: 2/3;
display:grid;
  }

  div .t3{
    display:none;
  }

  div .t4{
    display:none;
  }

  div .t5{
    display: none;
  }

  div .t6{
    display: none;
  } */




/* CHANGING TEXT, FADE IN */

.fadeIn{
  text-align: center;
	display: inline;
  font-size: 35px;
  display: grid;
  justify-items: center;
}
.fadeIn span{
	animation: fadeEffect 12.5s linear infinite 0s;
	-ms-animation: fadeEffect 12.5s linear infinite 0s;
	-webkit-animation: fadeEffect 12.5s linear infinite 0s;
	color: #ee5a5a;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.fadeIn span:nth-child(2){
  color: #9c71ff;
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.fadeIn span:nth-child(3){
  
  color: #4ba2ff;
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.fadeIn span:nth-child(4){
  color: #27a476;
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.fadeIn span:nth-child(5){
  color: #f38f24;
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*FadeIn Animation*/
@keyframes fadeEffect{
  0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-moz-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(0px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}





.services_cont{
  display: grid;

}


/* CONTACT US PAGE */
.content_flex{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.contact_page_content{
  display: grid;
  width: 80%;
  /* height: 50%; */
  background-color: whitesmoke;
  margin: 20px auto;
  border-radius: 7px;
  border: 2px solid black;

}

.con_title{
  text-align: right;
  padding-right: 10px;
  font-size: 22px;
  /* text-decoration: underline; */
}

.big{
  display: block;
  text-align: center;
  font-size: 35px;
  padding: 10px;

}

.con_text{
  position: relative;
  top:10px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.cont_container{
  display: grid;
  grid-template-columns: 1fr;
  column-gap:10px;
  padding: 10px; 
  padding-top: 25px;
  align-items:center;
justify-content: center;
}

.email,.phone{
  display:flex;
align-items:center;
justify-content: center;
}

.padd_below{
  padding-bottom: 15px;
}
.under{
  text-decoration: underline;
}




  /* TABLET VIEW */
  @media screen and (min-width: 600px) {
/* index */
h1.main_title {
  font-size:80px;
  grid-column: 2 / 8;
  margin: auto;
}

h2.main_title {
  font-size:80px;
  grid-column: 4 / 12;
  margin: auto;
}

#main_title2 {
  font-size: 25px;
  grid-column: 2 / 12;
  margin: auto;
}


/* home page */

.home_title_text {
  font-size: 22px;
  grid-column: 6 / end;
}


.testimonial_grid{
  grid-template-columns: 1fr;
  width:80%;
}



/* about page */
.center_align_me {
  margin: 0px auto;
  margin-top: 5px;
  font-size: 20px;
}

.service {
  margin-top: 10px;
  margin-bottom: 14px;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 16px;
}

/* Contact page */

.viewport{
  font-size:19px;
}
}


  /* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {

/* index page */
body{
  background-image: url("../images/background_3.jpeg");
}


/* home page */

/* CLIENT TESTIMONIAL CARDS */

.c_test_label{
  /* grid-column: 2/end;
  font-size:25px; */
  grid-column: 1 / end;
  text-decoration: underline;
  margin: 0px auto;
  font-size: 25px;
  margin-top: 10px;
}

.card1{
  display: grid; 
  grid-column: 2/4;
  /* background-color: #b4c9ff; */
  background-color: #cecece;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 300px;
  /* overflow: scroll; */
  margin-top: 15px;
  margin-bottom: 25px;
  border: 2px solid black;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.test_name1{
  text-align: center;
  height: 45px;
  font-size: 20px;
  margin-top: 10px;
}

.test_text1{
  padding: 2px 16px;
  background-color: #ffffff;
  overflow: scroll;
}


/* about page */

.services_cont {
  padding: 2px 16px;
  grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.service3{
  width:50%;
  grid-column:1/3;
  margin: auto;
}

.about_page_content {

  margin: 45px auto;
}

/* contact page */

.viewport{
  font-size:20px;
}

}



/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
/* index page */

h1.main_title {
  font-size: 100px;
  grid-column: 2 / 8;
  margin: auto;
}

h2.main_title{
  font-size:100px;
}

#main_title2 {
  font-size: 35px;
  grid-column: 2 / 12;
  margin: auto;
}

/* home page */
.reformer1_pic {
  grid-column: 1 / 7;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  width: 55%;
  height: 100%;
  margin: auto;
}

.sec1{
  padding-top: 15px;
}

.testimonial_grid{
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

/* about page */
.center_align_me {
  margin: 0px auto;
  margin-top: 5px;
  font-size: 30px;
}

.avail_services_h2 {
  text-align: center;
  font-size: 30px;
}

.fadeIn {
  font-size: 45px;
}

.avail_services_h2 {
  text-align: center;
  font-size: 25px;
}

.service_title{
  font-size:26px;
}

.service{
  font-size:20px;
}

/* contact page */
.big{
  font-size:45px;
}

.viewport {
  font-size: 25px;
}

}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

/* index page */

/* home page */
.home_title_text {
  font-size: 32px;
  margin: auto;
  grid-column: 6 / end;
}

.section1 {
  font-size: 22px;
  grid-column: 1 / end;
  margin: 12px auto;
}

/* about page */
.con_title {
font-size:25px;
}

/* contact page */
}

